**Basic data structure in python**
1- tuple
2- list
3- dictionaries
4- set

##- Tuple
- orderd collection of elements
- enclosed in()
- different kinds of elements can stord
- once element are stor you can not change them

In [7]:
tup1 = (2, "python", True, 2.5)
tup1

(2, 'python', True, 2.5)

In [8]:
# type of a tuple
type(tup1)

tuple

### - indexing in tuple

In [11]:
tup1[0]

2

In [12]:
tup1[1]

'python'

In [14]:
tup1[2]

True

In [15]:
tup1[1:3]

('python', True)

In [16]:
last element is exclusive
tup1[0:3]

(2, 'python', True)

In [17]:
# account of elements in tuple
len(tup1)

4

In [18]:
tup2 = (5, "baba ammar", 5.5, False)
tup2

(5, 'baba ammar', 5.5, False)

In [19]:
# concatinate(to add two or more tuple)
tup1 + tup2

(2, 'python', True, 2.5, 5, 'baba ammar', 5.5, False)

In [23]:
tup1*2 + tup2

(2, 'python', True, 2.5, 2, 'python', True, 2.5, 5, 'baba ammar', 5.5, False)

In [26]:
tup3 = (20, 30, 40, 50)
tup3

(20, 30, 40, 50)

In [27]:
# minimum
min(tup3)

20

In [28]:
max(tup3)

50

In [29]:
tup3*2

(20, 30, 40, 50, 20, 30, 40, 50)

## 2- lists
- ordered of collection of elements
- enclosed in [] squre bractes
- muteable, you can change the value

In [30]:
list1 = [2, "python", True]
list1

[2, 'python', True]

In [31]:
type(list1)

list

In [32]:
len(list1)

3

In [35]:
list1[2]

True

In [37]:
list2=[3, 5, "ammar", "codanics", 478, 53.2, False] 
list2

[3, 5, 'ammar', 'codanics', 478, 53.2, False]

In [38]:
list1 + list2

[2, 'python', True, 3, 5, 'ammar', 'codanics', 478, 53.2, False]

In [41]:
list1*2

[3,
 5,
 'ammar',
 'codanics',
 478,
 53.2,
 False,
 3,
 5,
 'ammar',
 'codanics',
 478,
 53.2,
 False]

In [42]:
list1.reverse()
list1

[False, 53.2, 478, 'codanics', 'ammar', 5, 3]

In [49]:
list1.append("codanics youtbe channel")
list1

[False,
 53.2,
 478,
 'codanics',
 'ammar',
 5,
 3,
 'codanics youtbe channel',
 'codanics youtbe channel',
 'codanics youtbe channel']

In [50]:
list3 = [20, 30, 40, 50, 10, 12, 27]
list3

[20, 30, 40, 50, 10, 12, 27]

In [51]:
len(list3)

7

sorting a list

In [53]:
list3.sort()
list3

[10, 12, 20, 27, 30, 40, 50]

In [54]:
list3*3

[10,
 12,
 20,
 27,
 30,
 40,
 50,
 10,
 12,
 20,
 27,
 30,
 40,
 50,
 10,
 12,
 20,
 27,
 30,
 40,
 50]

In [56]:
list1 + list2

[False,
 53.2,
 478,
 'codanics',
 'ammar',
 5,
 3,
 'codanics youtbe channel',
 'codanics youtbe channel',
 'codanics youtbe channel',
 False,
 53.2,
 478,
 'codanics',
 'ammar',
 5,
 3,
 'codanics youtbe channel',
 'codanics youtbe channel',
 'codanics youtbe channel']

In [57]:
list1 + list2 + list3

[False,
 53.2,
 478,
 'codanics',
 'ammar',
 5,
 3,
 'codanics youtbe channel',
 'codanics youtbe channel',
 'codanics youtbe channel',
 False,
 53.2,
 478,
 'codanics',
 'ammar',
 5,
 3,
 'codanics youtbe channel',
 'codanics youtbe channel',
 'codanics youtbe channel',
 10,
 12,
 20,
 27,
 30,
 40,
 50]

## 3- dictionaries
- an unordered collection of elements
- key and value 
- curly braces or brackets
- mutatable/change the values

In [62]:
#food anx their prices
Food1 = {"samosa": 30, "pakora": 100, "rita": 20, "salad": 50, "chikenrole": 70 }
Food1

{'samosa': 30, 'pakora': 100, 'rita': 20, 'salad': 50, 'chikenrole': 70}

In [63]:
type(Food1)

dict

In [65]:
# extract data
keys1 = Food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'rita', 'salad', 'chikenrole'])

In [66]:
Food1.values()

dict_values([30, 100, 20, 50, 70])

In [68]:
# adding new values in food
Food1["ticki"]=10
Food1

{'samosa': 30,
 'pakora': 100,
 'rita': 20,
 'salad': 50,
 'chikenrole': 70,
 'ticki': 10}

In [69]:
# update tthe prices
Food1["ticki"]=15
Food1

{'samosa': 30,
 'pakora': 100,
 'rita': 20,
 'salad': 50,
 'chikenrole': 70,
 'ticki': 15}

In [72]:
Food2 = {"dates": 100, "chokolate": 200, "swaiyan": 500, }
Food2

{'dates': 100, 'chokolate': 200, 'swaiyan': 500}

In [74]:
# concatinate
Food1.update(Food2)

In [75]:
Food1

{'samosa': 30,
 'pakora': 100,
 'rita': 20,
 'salad': 50,
 'chikenrole': 70,
 'ticki': 15,
 'dates': 100,
 'chokolate': 200,
 'swaiyan': 500}

## 4-Set 
- unorderd and unindexed
- curly braces are used
- no duplicates allow

In [81]:
#duplicates cannot add in sets
s1 = {1, 2.1, 5.2, "ammar", "codanics", "faslaabad", } 
s1

{1, 2.1, 5.2, 'ammar', 'codanics', 'faslaabad'}

In [84]:
s1.add("umar")
s1

{1, 2.1, 5.2, 'ammar', 'codanics', 'faslaabad', 'umar'}

In [85]:
# for removing anything
s1.remove("umar")
s1

{1, 2.1, 5.2, 'ammar', 'codanics', 'faslaabad'}