# pytho n ka chilla with baba ammar
## how to use jupyter note book
### our basic of python
1- my first program

In [1]:
print(2+3) 
print("hello world")
print("we are learning python with ammar")
print("hy")

5
hello world
we are learning python with ammar
hy

**operators**

In [2]:
2+3
print(2+2)
print(2-3)
print(6/2)
print(2*3)
print(6//2)
print(3**3)
print((3**2)/2*3/3+6-4)

4
-1
3.0
6
3
27
6.5

**strings**

In [3]:
print("hello world")
print("we are learning python with ammar")
print("hy")
print('text for single quotes')
print("text for double quotes")
print('''text for triple quotes''')
print("what's up")

hello world
we are learning python with ammar
hy
text for single quotes
text for double quotes
text for triple quotes
what's up

**comments**

In [4]:
print("how are you?") #press these two comment out (ctrl+/)
print("we are learning python with ammar") #print a string
print(2+6) #print operator function with number

how are you?
we are learning python with ammar
8

**variables**

In [5]:
x = 5 # numeric or integer variable
print(x)
y="we are learning python with ammar" #string variable
print(y)
x=x+10
print(x)
#types of variables
type(x)
print(type(x))
print(type(y))
fruit_baskit="mangoes"
fruit_baskit=8
print(fruit_baskit)
print(type(fruit_baskit))

5
we are learning python with ammar
15
<class 'int'>
<class 'str'>
8
<class 'int'>

**input variables**

In [9]:
 print(fruit_baskit) 
 fruit_baskit=input("what is your favourite fruit?")
 print(fruit_baskit )
    

 name=input("what is your name?")
 greetings="hello!"
 print(greetings, name)


name=input("what is your name")
age=input("what is your age")
greetings="hello"
print(greetings, name, "you are still young")

8
what is your favourite fruit?apple
apple
what is your name?umar
hello! umar
what is your nameammar
what is your age27
hello ammar you are still young

**conditional logics**

In [10]:
hammad_age=4
age_at_school_=5
print(hammad_age==age_at_school_)

False

**conversion type**

In [11]:
x = 10
y = 10.2
z = "hello"
# implicit type conversion
x=x*y
print(x,"type of x is", type(x)) 
#explicit type conversion
age=input("what is your age") 
# age=int(age)
print(age,type(int(age)))

102.0 type of x is <class 'float'>
what is your age27
27 <class 'int'>

if elif else

In [12]:
required_age_at_school=10
hammad_age=2

#can ammad go to school?
if hammad_age==required_age_at_school:
    print("hammad can join the schoool")
elif hammad_age > required_age_at_school:
     print("hammad should join higher secondary school") 
elif hammad_age <= 2:
    print("you should take care og hammad, he is still a baby")       
else:
    print("hamaad can not go to school")

you should take care og hammad, he is still a baby

**functions**

In [17]:
 def print_codanics():
     print("we are learning python with ammar")
     print("we are learning python with ammar")
     print("we are learning python with ammar")
 print_codanics()

we are learning python with ammar
we are learning python with ammar
we are learning python with ammar

In [18]:
def print_codanics():
    text="we are learning python with ammar"
    print(text)
    print(text)

print_codanics()

we are learning python with ammar
we are learning python with ammar

In [19]:
def print_codanics(text):
    print(text)
    print(text)
print_codanics("we are learning python with ammar")

we are learning python with ammar
we are learning python with ammar

In [21]:
def future_age(age):   
    new_age=age+20
    return new_age 
    print(new_age)
future_prected_age=future_age(18) 
print(future_prected_age)

38

**loops**

In [22]:
 x=0
 while(x<5):
     print(x)
     x=x+1

0
1
2
3
4

In [23]:

 for x in range(4,11):
     print(x)

4
5
6
7
8
9
10

**array**

In [25]:
days=["mon", "tue", "wed", "fri", "sat", "sun"]
for d in days:
    # if(d=="fri"):break
    if(d=="fri"):continue#skips d 
    print(d)

mon
tue
wed
sat
sun

**important library**
**if you want to print the value of pi**
# import math
# print("the value of pi is ", math.pi)

In [26]:
import statistics
x=[150,250,350,450]
print(statistics.mean(x))

300